# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
.env.local
.venv.local

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache
nosetests.xml
coverage.xml

# Jupyter
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

fhvhv_tripdata_2025-01.parquet

